.select-days{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    /* margin: 1rem; */
    margin-left: 2rem;
    padding-bottom: 1rem;
}

.chart-container{
    display: flex;
    flex-direction: column;
}

@media only screen and(max-width:500px) {
    .select-days{
        margin-bottom: 2rem;
        margin-top: 1rem;
    }  
}
