.compare-selects-conatiner{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:1.5rem;
    margin:1rem auto;
   
}

@media only screen and (max-width:500px){
    .compare-selects-conatiner{
        box-sizing: border-box;
        display:flex;
    justify-content: flex-start;
    align-items: center;
        margin-left:auto;
        margin-right:auto;
        padding:  0rem 2rem;
        /* margin: 0rem; */
        gap:0rem;
        padding: 1rem;
    }  
}

@media only screen and (max-width:600px){
    .compare-selects-conatiner{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap:1rem;
        padding:0.5rem;
    }

    .coins-flex-parent{
        display: flex;
        justify-content: space-evenly;
    }
}